* {
    color: #393E46;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}

body {
    background-color: #222831;
}

button {
    background-color: #393E46;
    font-family: inherit;
    color: #FFD369;
    border-radius: 5px;
    margin: 00.5rem;
    border: none;
    padding: 00.5rem;
    font-size: 75%;
}

li {
    margin: 5px 0;
}

.container {
    width: 100%;
}

.card {
    background-color: #EEEEEE;
    border-radius: 0.5rem;
    padding: 2rem;
    width: fit-content;
    max-width: 50%;
    position: relative;
    box-shadow: 5px 5px 5px #000;
    flex-direction: column;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: left;
}

.task-container {
    overflow-wrap: break-word;
}

.task-input {
    width: 100%;
}

.todo-form {
    display: flex;
    flex-direction: column;
}

.todo-list > *:hover {
    cursor: pointer;
}

#submit {
    position: relative;
    margin: 10px auto;
}